<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="row my-3">
	<div class="my-3 border-bottom">
		<div>
			<h2>나의 정보</h2>
		</div>
	</div>
	<div class="row my-3">
		<ul class="list-group">
			<li class="py-2 list-group-item" th:text="|아이디 : ${user.getUsername()}|"></li>
			<li class="py-2 list-group-item" th:text="|이메일 : ${user.getEmail()}|"></li>
		</ul>
	</div>
	<div>
		<br>
		<h3 class="py-2">내가 쓴 글</h3>
		<ul class="list-group">
			<li th:each="question: ${questions}" class="question-item list-group-item">
				<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
			</li>
		</ul>
	</div>
	</div>
	<div class="row my-3">
		<div>
			<h3 class="py-2">내가 쓴 답변</h3>
			<ul class="list-group">
				<li th:each="answer: ${answers}" class="answer-item list-group-item">
					<a th:href="@{|/question/detail/${answer.question.id}#answer_${answer.id}|}" th:text="|질문 : ${answer.question.subject}|"></a>
					<p th:text="|답변 : ${answer.content}|"></p>
				</li>
			</ul>
		</div>
	</div>
</div>
</html>